<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<title>{{ title }}</title>
	</head>
	<body>
		
		<nav id="navbar" class="nav navbar
		<h1>Hello World</h1>
		<script src="js/jquery-3.4.1.slim.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>
